<div class="bg-gray-50">
  <div class="min-h-screen flex flex-col items-center justify-center py-6 px-4">
    <div class="max-w-[480px] w-full">
      <div class="text-center mb-8 flex items-center justify-center">
        <h1 class="text-5xl font-semibold me-2 hidden md:block">KeyBank</h1><img src="assets/key.svg" alt="logo" class="w-30" />
      </div>
      <div class="border-border bg-card rounded-2xl border p-6 shadow-sm">
        <h1 class="text-slate-900 text-center text-2xl font-semibold">Financial Management Platform</h1>
        <div class="mt-12">
          <p class="text-slate-900 font-medium mb-6 text-center">Sign in to access your financial dashboard and manage your bank accounts.</p>
          <button
            type="button"
            (click)="login()"
            [disabled]="isLoading()"
            class="w-full font-medium rounded-lg bg-primary px-4 py-3 text-primary-foreground tracking-wide hover:bg-primary/90 transition-colors cursor-pointer focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50"
          >
            @if (isLoading()) {
              <span>Loading...</span>
            } @else {
              <span>Log In</span>
            }
          </button>
          <p class="text-slate-900 text-sm mt-6 text-center">Secure authentication powered by Auth0</p>
        </div>
      </div>
    </div>
  </div>
</div>