<div class="bg-gray-50">
  <div class="flex min-h-screen flex-col items-center justify-center px-4 py-6">
    <div class="w-full max-w-[480px]">
      <div class="mb-8 flex items-center justify-center text-center">
        <h1 class="me-2 hidden text-5xl font-semibold md:block">KeyBudget</h1>
        <img src="assets/key.svg" alt="logo" class="w-30" />
      </div>
      <div class="border-border bg-card rounded-2xl border p-6 shadow-sm">
        <div class="">
          <p class="mx-auto mb-6 max-w-sm text-center font-medium">
            Sign in to access your financial dashboard and manage your bank accounts.
          </p>
          <button
            type="button"
            (click)="signup()"
            [disabled]="isLoading()"
            class="bg-kb-primary text-primary-foreground hover:bg-kb-primary/90 focus-visible:ring-ring w-full cursor-pointer rounded-lg px-4 py-3 font-medium tracking-wide transition-colors focus-visible:ring-2 focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-50"
          >
            @if (isLoading()) {
              <span>Loading...</span>
            } @else {
              <span>Sign Up</span>
            }
          </button>
          <button
            type="button"
            (click)="login()"
            [disabled]="isLoading()"
            class="border-primary text-primary hover:bg-primary/10 focus-visible:ring-ring mt-3 w-full cursor-pointer rounded-md border-2 px-4 py-3 font-medium tracking-wide focus-visible:ring-2 focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-50"
          >
            @if (isLoading()) {
              <span>Loading...</span>
            } @else {
              <span>Log In</span>
            }
          </button>
          <p class="mt-6 text-center text-sm">Secure authentication powered by Auth0</p>
        </div>
      </div>
    </div>
  </div>
</div>
